.chessboard {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    height: 320px;
    width: 320px;
    justify-self: center;
    background-color: grey;
    border: 1px solid rgb(109, 111, 112);
}

body {
    background-color: black;
}

.cell {
    /* border: 1px solid rgb(109, 111, 112); */
    border-width: 1px;
    border-style: solid;
    border-color: rgb(109, 111, 112);
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 5px;
}

.cell.odd:nth-child(odd) {
    background-color: white;
}

.cell.even:nth-child(even) {
    background-color: white;
}

.pawn {
    background-color: greenyellow;
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    width: 22px;
    height: 22px;
}

.rook{
    background-color: rgb(202, 47, 27);
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    width: 22px;
    height: 22px;
}

.knight{
    background-color: rgb(197, 216, 25);
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    width: 22px;
    height: 22px;
}

.bishop{
    background-color: rgb(25, 124, 216);
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    width: 22px;
    height: 22px;
}

.queen {
    background-color: rgb(184, 25, 216);
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    width: 22px;
    height: 22px;
}

.king {
    background-color: rgb(11, 7, 12);
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    width: 22px;
    height: 22px;
}