.chessboard {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    height: 320px;
    width: 320px;
    justify-self: center;
    background-color: grey;
    border: 1px solid rgb(109, 111, 112);
}

body {
    background-color: black;
}

.cell {
    /* border: 1px solid rgb(109, 111, 112); */
    border-width: 1px;
    border-style: solid;
    border-color: rgb(109, 111, 112);
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 5px;
}

.piece:hover{
    cursor: pointer;
}

.cell.odd:nth-child(odd),
.cell.even:nth-child(even) {
    background-color: rgb(204, 197, 197);
}

.pawn,
.rook,
.knight,
.bishop,
.king,
.queen {
    display: flex;
    justify-content: center;
    width: 22px;
    height: 22px;
}

.white {
    background-color: white;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
}

.black {
    border-width: 2px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    background-color: black;
}

.active {
    background-color: chartreuse;
    transform: scale(1.2);
    box-shadow: 0px 0px 5px 2px rgb(48, 47, 47);

}