.equipment {
    display: grid;
    background-color: rgb(92, 84, 84);
    width: 100%;
    grid-template:
        "tm tm tm tm tm tm tm tm tm"50px 
        "l a a a helmet b b b r"50px
        "l a a a helmet b b b r"50px
        "l c c c c c c c r"50px
        "l weapon d armor armor armor e shield r"50px
        "l weapon d armor armor armor e shield r"50px
        "l weapon d armor armor armor e shield r"50px
        "l f f f f f f f r "50px
        "l boots boots g belt j gloves gloves r"50px
        "l boots boots g k j gloves gloves r "50px
        "l h h h h h h h r "50px 
        "l inventory inventory inventory inventory inventory inventory inventory r "50px 
        "l inventory inventory inventory inventory inventory inventory inventory r "50px 
        "l inventory inventory inventory inventory inventory inventory inventory r "50px 
        "l inventory inventory inventory inventory inventory inventory inventory r "50px 
        "bm bm bm bm bm bm bm bm bm "50px / 50px 100px 50px 50px 100px 50px 50px 100px 50px;
}

.helmet,
.armor,
.boots,
.belt,
.gloves,
.weapon,
.shield,
.inventory,
.slot {
    border: 1px solid rgb(160, 168, 49);
    background-color: rgb(65, 65, 65);
}

.helmet {
    display: grid;
    grid-area: helmet;
}

.armor {
    display: grid;
    grid-area: armor;
}

.boots {
    display: grid;
    grid-area: boots;
}

.belt {
    display: grid;
    grid-area: belt;
}

.gloves {
    display: grid;
    grid-area: gloves;
}

.weapon {
    display: grid;
    grid-area: weapon;
}

.shield {
    display: grid;
    grid-area: shield;
}

.inventory {
    display: grid;
    grid-area: inventory;
    grid-template:
        "slot-1 slot-2 slot-3 slot-4 slot-5 slot-6 slot-7 slot-8 slot-9 slot-10"50px 
        "slot-11 slot-12 slot-13 slot-14 slot-15 slot-16 slot-17 slot-18 slot-19 slot-20"50px 
        "slot-21 slot-22 slot-23 slot-24 slot-25 slot-26 slot-27 slot-28 slot-29 slot-30"50px 
        / 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;

}