body{
    display: flex;
    flex-direction: row;
}

.box{
    background-color:red;
    height: 200px;
    width: 30%;
}
div#x1{
    background-color: blue;

}
div#x2{
    background-color:yellow;
    
}